* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.header a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 4px;
}
.header a:hover {
  color: blueviolet;
  text-decoration: underline;
}
.header li {
  display: inline;
  color: white;
  padding: 4px;
}
h1 {
  color: white;
  margin-top: 40px;
  margin-left: 200px;
  font-size: 70px;
}
p {
  color: gray;
}
.description p {
  margin-left: 200px;
  margin-right: 50px;
  font-size: 25px;
}

.colortext {
  color: white;
}
.header {
  width: 100%;
  height: 50px;
  background-color: rgb(26, 26, 26);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  background-color: white;
  border-radius: 50%;
}
input {
  background-color: grey;
  border-radius: 2px;
}
input::placeholder {
  color: rgb(197, 194, 194);
  font-size: 13px;
  font-style: italic;
}
.container {
  width: 100%;
  height: 450px;
  display: flex;
  background-color: rgb(35, 35, 58);
}
.description {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.container button1 {
  background-color: green;
  color: white;
  border-radius: 2px;
  border: none;
  height: 40px;
  width: 150px;
  margin-top: 15px;
  box-shadow: 2px 2px gray;
  margin-left: 200px;
  display: none;
}

.form {
  border: 1px solid;
  background-color: white;
  width: 300px;
  height: 370px;
  margin-top: 40px;
  margin-left: 200px;
}
.form input,
button,
p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.form .colortext {
  color: blue;
}
.form input {
  width: 260px;
  height: 30px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(gray);
}
.form button {
  background-color: green;
  color: white;
  border-radius: 2px;
  border: none;
  height: 40px;
  width: 260px;
  margin-top: 15px;
  box-shadow: 2px 2px gray;
}
.footer {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.footer button {
  background-color: white;
  color: blue;
  border-radius: 2px;
  width: 170px;
  height: 30px;
  border: 0.5px solid gray;
  box-shadow: 2px 2px gray;
  margin-top: 30px;
}
.footer p {
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}
.footer h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Tablet */
@media screen and (min-width: 700px) and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
  .container {
    display: inline-block;
  }
  .text p {
    font-size: 30px;
  }
  .form {
    width: 350px;
    height: 370px;
  }
  .description {
    margin: 0;
    width: 100%;
  }
  .form {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
}

/* Mobile */
@media screen and (min-width: 500px) and (max-width: 700px) {
  .form {
    display: none;
  }
  .description {
    margin: 0;
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  .container button1 {
    display: block;
  }
}
